* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 55, 55);
    height: 4rem;
    padding-inline: 0.2rem;
    padding-block: 0.3rem;
}
nav input{
    padding-inline: 0.4rem;
    padding-block: 0.3rem;
    border-radius: 0.2rem;
    outline: none;
}
nav button{
    padding-inline: 0.7rem;
    padding-block: 0.3rem;
    border-radius: 0.2rem; 
    background-color: green;
    color: white;
    outline: none;
}

section{
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.Card{
    padding: 0.5rem;
    width: 14rem;
    height: 10rem;
    background-color: rgba(26, 25, 25, 0.623);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.3rem;
}
.Card h1{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}
   button{
     padding-inline: 0.7rem;
    padding-block: 0.3rem;
    border-radius: 0.2rem; 
    background-color: green;
    color: white;
    outline: none;
    border: none;
}
.Active{
    outline: 4px solid royalblue;
    border-radius: 0.3rem;
}