* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
  
    width: 100%;
    height: 100%;
     background-color: rgba(62, 62, 62, 0.8);
    

}
.box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 5%;
}
input{
    padding: 0.4rem; 
    border: none;
}

#addTodo{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    height: 1.1rem;
    border-radius: 0.2rem;
    border: none;
    color: white;
   

}

#container{
    display: flex;
    gap: 1rem;
}

button{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    height: 1.1rem;
    border-radius: 0.2rem;
    border: none;
    background-color: rgba(31, 170, 12, 0.8);
}
#todoList{
    width: 100%;
    
    background-color: rgb(51, 53, 50);
  display: flex;
 flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
}
li{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid gray;
}
.completed{
    color: green;
      text-decoration: line-through;
}
